<mat-toolbar color="primary">
  <a class="title" href="/">{{ title }}</a>

  <div class="toolbar-spacer"></div>

  <a i18n mat-button [routerLink]="['profile']">Web API</a>
  <button i18n mat-button *ngIf="loginDisplay" (click)="editProfile()">Edit Profile</button>
  <button i18n mat-raised-button *ngIf="!loginDisplay" (click)="login()">Login</button>
  <button i18n mat-raised-button *ngIf="loginDisplay" (click)="logout()">Logout</button>
</mat-toolbar>
<div class="container">
  <!--This is to avoid reload during acquireTokenSilent() because of hidden iframe -->
  <router-outlet *ngIf="!isIframe"></router-outlet>
</div>
