<div>
    <p i18n="SamplePage Text 1">
        Jaguar shark! So tell me - does it really exist? Life finds a way. Yes, Yes, without the oops! My dad once told
        me,
        laugh and the world laughs with you, Cry, and I'll give you something to cry about you little bastard! Jaguar
        shark!
        So tell me - does it really exist?
    </p>
    <p i18n="SamplePage Text 2">
        Hey, take a look at the earthlings. Goodbye! Checkmate... Must go faster... go, go, go, go, go! We gotta burn
        the
        rain forest, dump toxic waste, pollute the air, and rip up the OZONE! 'Cause maybe if we screw up this planet
        enough, they won't want it anymore!
    </p>
    <p i18n="SamplePage Text 3">
        I was part of something special. Just my luck, no ice. Eventually, you do plan to have dinosaurs on your
        dinosaur
        tour, right? Checkmate... Checkmate... What do they got in there? King Kong? God help us, we're in the hands of
        engineers. Yes, Yes, without the oops!
    </p>
    <p i18n="SamplePage Text 4">
        So you two dig up, dig up dinosaurs? So you two dig up, dig up dinosaurs? Jaguar shark! So tell me - does it
        really
        exist? Yeah, but your scientists were so preoccupied with whether or not they could, they didn't stop to think
        if
        they should. Yeah, but your scientists were so preoccupied with whether or not they could, they didn't stop to
        think
        if they should.
    </p>
    <p i18n="SamplePage Text 5">
        You really think you can fly that thing? Eventually, you do plan to have dinosaurs on your dinosaur tour, right?
        Must go faster. You're a very talented young man, with your own clever thoughts and ideas. Do you need a
        manager?
        They're using our own satellites against us. And the clock is ticking.
    </p>
</div>